/********************
    Custom Mixins
********************/

@mixin text-shadow($shadow) {
    -webkit-text-shadow: $shadow;
    -moz-text-shadow: $shadow;
    -ms-text-shadow: $shadow;
    -o-text-shadow: $shadow;
    text-shadow: $shadow;
}

@mixin box-shadow($bShadow) {
    -webkit-box-shadow: $bShadow;
    box-shadow: $bShadow;
}

@mixin transition($trans) {
    -webkit-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

/********************
    Global Styles
********************/

body,
html{
    overflow-x: hidden;
}


body{
    margin-top: 80px;
    background-color: $brand-secondary;
    color: $brand-primary;
}
img{
    max-width: 100%;
    overflow: hidden;
}

a{
    text-transform: uppercase;
}

p.lead{
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 1.5em;
    color: $brand-accent-1;
    font-weight: bolder;
    letter-spacing: 1px;
}

h3{
}

h1,
h2{
    font-family: dolce vita light, 'Raleway', sans-serif;
    text-transform: uppercase;
}

section,
article{
    padding: 120px 0;
}

.text-wrap{
    text-align: center;
    padding-bottom: 70px;
}

.fa-mobile, 
.fa-search-plus, 
.fa-bar-chart, 
.fa-wordpress, 
.fa-facebook-official,
.fa-code,
.fa-comments,{
    color: $brand-accent-2;
    display: block;
}

.social-link{
    color: $brand-secondary;
}

span.uppercase{
    text-transform: uppercase;
}

/*****************
    Nav Styles
*****************/

.navbar{
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li > a {
    line-height: 17px; // this is to keep navbar from increasing height on hover due to border-bottom
        &:hover,
        &:focus{
            background-color: $brand-trans;
            border-bottom: 5px solid $brand-accent-1;
        }
}

.navbar-brand{
    padding: 5px;
    margin: 0;
    @include transition(all 0.5s);
        &:hover,
        &:focus{
            cursor: pointer;
            @include scale(0.8);
            @include transition(all 0.5s);
        }
}

/******************
    Hero Styles
******************/

#hero{
    padding: 0;
    background-color: $brand-primary;
    background-image: url(../img/banner-bg-grad.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 89vh;
    position: relative;
    display: table;
    width: 100%;
    color: $brand-secondary;
        #hero-wrap{
            width: 100%;
            display: table-cell;
            vertical-align: bottom;
        }
        @media (max-width: 768px){
            background-image: url(../img/banner-bg-mobile.jpg);
        }
}

/*****************
    FAB Styles
*****************/

.material-icons{
    font-size: 3em;
    color: $brand-secondary;
}

/**********************
    Services Styles
**********************/

#services{
    min-height: 70vh;
    color: $brand-primary;
    text-align: center;
        h3{
            color: rgba(15, 22, 38, 0.5);
        }
}

.service-opt{
    padding-bottom: 50px;
}

/******************
    Work Styles
******************/

#work-mobile{
    background-color: $brand-primary;
    background-image: url(../img/work-bg-mobile.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-secondary;
        a{
            color: $brand-secondary;
            border-bottom: 1px solid $brand-secondary;
                &:hover,
                &:focus{
                    border-bottom: none;
                    text-decoration: none;
                }
        }
}

#work2-mobile{
    background-color: $brand-secondary;
    background-image: url(../img/woodwork-bg-mobile.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-primary;
        a{
            color: $brand-primary;
            border-bottom: 1px solid $brand-primary;
                &:hover,
                &:focus{
                    border-bottom: none;
                    text-decoration: none;
                }
        }
}

#work3-mobile{
    background-color: $brand-primary;
    background-image: url(../img/lumberjack-bg-mobile.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-secondary;
        a{
            color: $brand-secondary;
            border-bottom: 1px solid $brand-secondary;
                &:hover,
                &:focus{
                    border-bottom: none;
                    text-decoration: none;
                }
        }
}

#work{
    background-color: $brand-primary;
    background-image: url(../img/work-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-secondary;
        .container-fluid{
            padding-left: 0;
        }
        a{
            color: $brand-secondary;
            border-bottom: 1px solid $brand-secondary;
                &:hover,
                &:focus{
                    border-bottom: none;
                    text-decoration: none;
                }
        }
}

#work2{
    background-color: $brand-secondary;
    background-image: url(../img/woodwork-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-primary;
        .container-fluid{
            padding-right: 0;
        }
        a{
            color: $brand-primary;
            border-bottom: 1px solid $brand-primary;
                &:hover,
                &:focus{
                    border-bottom: none;
                    text-decoration: none;
                }
        }
        h2{
            color: $brand-primary;
        }
}

#work3{
    background-color: $brand-primary;
    background-image: url(../img/lumberjack-bg.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: $brand-secondary;
        .container-fluid{
            padding-left: 0;
        }
        a{
            color: $brand-secondary;
            border-bottom: 1px solid $brand-secondary;
                &:hover,
                &:focus{
                    border-bottom: none;
                    text-decoration: none;
                }
        }
}

/***********************
    Accolades Styles
***********************/



/*********************
    Contact Styles
*********************/

#contact{
    background-color: $brand-accent-1;
    color: $brand-secondary;
        h2{
            color: $brand-secondary;
        }
}

/********************
    Footer Styles
********************/

footer{
    background-color: $brand-primary;
    color: $brand-secondary;
}

.btn-facebook, .btn-linkedin, .btn-twitter, .btn-email{
    color: $brand-secondary;
    background-color: $brand-primary;
    padding: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 22px;
    @include transition(all 0.5s);
        &:hover,
        &:focus{
            cursor: pointer;
        }
}

.btn-facebook{
    &:hover,
    &:focus{
        @include transition(all 0.5s);
        background-color: #3b5998;
        color: $brand-secondary;
    }
}

.btn-linkedin{
    &:hover,
    &:focus{
        @include transition(all 0.5s);
        background-color: #007bb5;
        color: $brand-secondary;
    }
}

.btn-twitter{
    &:hover,
    &:focus{
        @include transition(all 0.5s);
        background-color: #55acee;
        color: $brand-secondary;
    }
}

.btn-email{
    &:hover,
    &:focus{
        @include transition(all 0.5s);
        background-color: $brand-accent-1;
        color: $brand-secondary;
    }
}

#social-wrap{
    text-align: center;
    color: $brand-secondary;
    background-color: rgba(15, 22, 38, 0.6);
    padding-top: 5px;
    line-height: 36px;
        @media (max-width: 768px){
            padding-bottom: 20px;
        }
}

/*******************
    Modal Styles
*******************/

.modal-full .modal-dialog{
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}